 @import url(http://fonts.googleapis.com/css?family=Ropa+Sans);

body{
    text-align: center;
}
.test-container {
    width: 981px;
    margin: auto;
}

.test-all-passed .test  p {
    font-size: 40px;
}

.test-all-passed .test {
    background-color: #849E91;
}

.test-container > .test {
    font-size: 25px;   
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Ropa Sans', sans-serif;
}

.test {
    background-color: rgba(217,201,154,0.3);
    padding: 0px;
    text-align: center;
    font-size: 85%;
}

.test > .test {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 10px;

}

.test-last {
    text-align: left;
}

.test-last > p {
    display: inline-block;
    width: 85%;
    padding: 0px;
    margin: 0px;
}

.test-last .test-value {
    width: 15%;
    text-align: center;
    color: white;
    margin: 0px;
}

.test-last.test-passed .test-value {
    background-color: #849E91;
}

.test-last.test-failed .test-value {
    background-color: #C14543;
}


.letter{
    width: 70px;
    height: 70px;
    float: left;
}
.number{
    width: 560px;
    height: 70px;
    
}
.container {
    width: 560px;
    border: 1px solid black;
    margin: auto;
    position: relative;
}

.drop {
    
}
.graves{
    width: 200px;
    height: 558px;
    border: 1px solid grey;
    float:right;
    position: relative;
    top:-730px;
    left: -150px;
}

.tomb {
    border: 1px solid black;
    width: 150px;
    height: 91px;
    float: right;
}
.num{
    width: 47px;
    height: 89px;
    border: 2px solid black;
}

.fields{
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    float: left;
    text-align: center;
}
.engine{
    width: 176px;
    height: 22px;
}

img{
    width: 70px;
    height: 70px;
}