 @import url(http://fonts.googleapis.com/css?family=Ropa+Sans);

.test-container {
    width: 981px;
    margin: auto;
}

.test-all-passed .test  p {
    font-size: 40px;
}

.test-all-passed .test {
    background-color: #849E91;
}

.test-container > .test {
    font-size: 25px;   
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Ropa Sans', sans-serif;
}

.test {
    background-color: rgba(217,201,154,0.3);
    padding: 0px;
    text-align: center;
    font-size: 85%;
}

.test > .test {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 10px;

}

.test-last {
    text-align: left;
}

.test-last > p {
    display: inline-block;
    width: 85%;
    padding: 0px;
    margin: 0px;
}

.test-last .test-value {
    width: 15%;
    text-align: center;
    color: white;
    margin: 0px;
}

.test-last.test-passed .test-value {
    background-color: #849E91;
}

.test-last.test-failed .test-value {
    background-color: #C14543;
}